.callout {
    padding: 10px; /* Adjust padding as needed */
    color: #ffffff; /* Adjust text color for better contrast */
    background-color: #333333; /* Adjust background color */
}
h2 {
    grid-column: span 2; /* Span the h2 across both columns */
    text-align: left;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns of equal width */
    grid-gap: 20px; /* Adjust the gap between columns */
}


footer {
    text-align: left;
}
