body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333333;
    line-height: 1.6;
}
h1{
  text-align:center;
}
nav {
    background-color: #333333;
    padding: 10px 0;
}
.nav-menu {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav-menu li {
    flex: 1;
    text-align: center;
}
.nav-menu a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s ease;
}
.resources a {
    display: block;
    color: #007bff;
    text-decoration: none;
    margin: 5px 0;
}
.nav-menu a:hover {
    background-color: #555555;
}
.resources {
    margin-top: 10px;
}


.resources a:hover {
    text-decoration: underline;
}
main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}
.card {
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
}
.card img {
    max-width: 100%;
    border-radius: 5px;
}
.card h2 {
    color: #333333;
}


footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #f1f1f1;
    border-top: 1px solid #cccccc;
    text-align: center;
}
